<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/first.css">
    {{!-- <link rel="stylesheet" href="/serverJS/public/css/first.css"> "tambien de esta forma" --}}
    <title>Handlebars</title>
</head>
<body>
    
    <h1>first handlebars layout!</h1>

    {{{body}}}


</body>
</html>